# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages #
*.7z
*.dmg
*.gz
*.iso
*.jar
*.war
*.ear
*.nar
*.rar
*.tar
*.zip

# Logs and databases #
*.log
*.sql
*.sqlite

# intellij #
.idea
Project.iml

# maven #
target
pom.xlm
pom.xlm*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
